@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;;
}

/*-------------- aqui vinha o header------------  */
main {
    
    background-image: url(../img/bg.jpg);
    height: 92vh;
    padding-top: 80px;
}
.container{
    margin: 20px auto;
    background-color:white;
    width: 500px;
    height: 457px;
    border: 1px solid #5f4a90;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.container h1{
    margin-top:25px;
    font-family: arial, sans-ser;
    text-align: center;
}

.container form{
    margin-top: 23px;
}

input, textarea{
    margin: 5px auto;
    width: 90%;
    display:block;
    border: 1px solid #5f4a90;
    border-radius: 30px;
}
input{
    height:30px;
}
label{
    margin-left: 30px;
    font-weight:600;
}
.post-send{
    display:flex;
    justify-content: space-between;
    vertical-align: middle;
    width: 95%;
}
.post-send input{
    margin: 27px 0 0 30px;
    width:15px;
}
.checkbox{
    display:flex;
}
.post-send label{
    
    margin: 30px 0 0 10px;
    
}
button{
    height: 35px;
    width: 150px;
    margin-top: 25px;
    border:none;
    border-radius:30px;
    background-color:#5f4a90;
    font-family: arial, sans-ser;
    color: white;
    font-size:1rem;
    font-weight:500;

}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#5f4a90;

    color:white;
    height: 53px;
}


/* responsividade */

@media(max-width:576px){
    .container{
        margin: 20px auto;
        background-color:white;
        width: 80%;
        height: 457px;
        border: 1px solid #5f4a90;
        border-radius: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }

    input, textarea, button{
        margin: 5px auto 0;
        width: 90%;
        display:block;
        border: 1px solid #5f4a90;
        border-radius: 30px;
    }

    .post-send{
        margin: 0px 0 0 0px;
        display: block;
        width: 90%;
    }
    .post-send label{
        margin: 10px 0 0 10px;
    }
    .post-send input{
        margin: 6px 0 0 30px;
        width:15px;
    }
   
    button{
        font-size:1.5rem;
        height: 35px;
        width: 100%;
        margin: 5px 0 0 15px;
    }
    
 
}