@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;;
}

header{
    position: fixed;
    width: 100%;
    background-color:white;
    /* top: 0;
    left: 0; */
    box-shadow: 0 0 8px 0 black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header div, header nav ul{
    display: flex;
}
header a{
    text-decoration: none;
    color:black;
}

header img{
    width: 80px;
} 

header p{
    margin-top: 20px;
   
}

header nav ul li {
    margin: 0px 70px;
}
header nav ul {
    list-style-type: none;
}



/* responsividade */

@media(min-width:769px){
    header nav img{
        display: none;
    }
}

@media(max-width:768px){
    header nav ul{
        display: none;
    }

    nav img{
        width: 26px;
        margin-top: 12px;
        margin-right: 10px;
    }
   
    
}

